*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial;
}

body{
    background:#f4f4f4;
}

/* Header */

header{
    background:#222;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    margin-left:15px;
    text-decoration:none;
}

nav a:hover{
    color:yellow;
}

/* Hero Section */

.hero{
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#0077ff;
    color:white;
    text-align:center;
}

.hero button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    background:white;
    cursor:pointer;
    font-size:16px;
}

/* Sections */

section{
    padding:50px;
    text-align:center;
}

section img{
    margin-top:20px;
    border-radius:50%;
}

/* Skills */

.skills-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
}

.skill{
    background:#0077ff;
    color:white;
    padding:15px 25px;
    border-radius:5px;
}

/* Projects */

.project-card{
    background:white;
    margin:20px auto;
    padding:20px;
    width:300px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

/* Contact */

form{
    display:flex;
    flex-direction:column;
    width:300px;
    margin:auto;
}

form input,
form textarea{
    margin:10px 0;
    padding:10px;
}

form button{
    padding:10px;
    background:#0077ff;
    color:white;
    border:none;
    cursor:pointer;
}

/* Footer */

footer{
    background:#222;
    color:white;
    padding:20px;
    text-align:center;
}